html {
    min-height: 100%;
    height: auto;
}
body {
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}

p {
    min-width: 18em;
    min-height: 18em;
    max-width: 25em;
    max-height: 27em;
    text-align: center;
    overflow: auto;
}

img {

    opacity: 0.8;
    max--height: 38em;
    min-height: 30em;
    min-width: 16.6em;
    max-width: 20em;
}

container {
    padding-top: 5em;
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    flex-direction: row-reverse;
    flex-basis: auto;
    justify-content: center;
    gap: 2em;
}

section {
    margin-left: 3%;
    margin-right: 3%;
}

main {
    max-width: 20em;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.blank {
    background-image: none;
    background-color: gray;
}

.color {
    background-color: #000000b0;
    color: #f8f9fa;
}

.fill {
    height: 10em;
    color: #607d8b00;
}

.hidden {
    visibility: hidden;
}

.nav {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.5;
    background-color: black;
    opacity: 0.95;
}

.nav-link {
    color: #d4af37;
}

.poems {
    min-width: 20em;
    max-height: 25em;
}

.portrait {
    flex-wrap: wrap;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020:
}

.vertical {
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

